STREAM_PATH=tvbox
STREAM_WHEP_URL=
WEBRTC_ADDITIONAL_HOSTS=

TVBOX_VIDEO_DEVICE=/dev/tvbox-video
TVBOX_AUDIO_DEVICE=plughw:CARD=<capture-card-id>,DEV=0
TVBOX_VIDEO_SIZE=1920x1080
TVBOX_FRAMERATE=30
TVBOX_INPUT_FORMAT=mjpeg
TVBOX_VIDEO_BITRATE=4500k
TVBOX_AUDIO_ENABLED=true

VIDEO_GID=44
AUDIO_GID=29
